.navButton {
  margin-left: auto;
  margin-right: 30px;
}
.carContainer {
  max-width: 750px;
  margin-inline: auto;
  max-height: 450px;
}
.carImage {
  max-width: 750px;
  max-height: 450px;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0px !important;
  background: #121fcf;
  background: -webkit-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: -moz-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading::after {
  content: "";
  width: 50px;
  height: 7px;
  background: red;
  position: absolute;
  transform: translateY(20px) translateX(5px);
  border-radius: 30px;
}
.heading::before {
  content: "";
  width: 50px;
  height: 7px;
  background: rgb(0, 0, 255);
  position: absolute;
  transform: translateY(20px) translateX(-55px);
  border-radius: 30px;
}
.reviews {
  margin-inline: 10%;
  display: flex !important;
}
.heading::before:first-child {
  width: 0px;
}
.carh2 {
  color: black;
  background-color: white;
}
.carp {
  color: black;
  background-color: white;
}
.table {
  border-radius: 10px !important;
  margin-top: 2%;
  margin-inline: auto;
  -webkit-box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.75) !important;
}
#appoint {
  background: rgb(138, 254, 255);
  background: linear-gradient(
    0deg,
    rgba(138, 254, 255, 1) 0%,
    rgba(254, 219, 143, 1) 100%
  );
}
#about {
  padding: 40px;
  background: rgb(245, 149, 149);
  background: linear-gradient(
    90deg,
    rgba(245, 149, 149, 1) 11%,
    rgba(223, 223, 255, 1) 55%,
    rgba(228, 250, 255, 1) 100%
  );
}
.reviewSec {
  /* margin-inline: auto !important;
   */
  display: flex;
  justify-content: center;
  background: rgb(187, 102, 245);
  background: linear-gradient(
    90deg,
    rgb(50, 35, 60) 0%,
    rgba(232, 176, 176, 1) 50%,
    rgba(255, 206, 138, 1) 100%
  );
}
/* .active{
  background-color: hsl(0, 0%, 40%);
  color: white;
} */
.scrollbtn {
  position: fixed;
  width: 100%;
  left: 50%;
  bottom: 40px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: green;
}
.carddiv{
  margin: 20px 40px;
}
@media only screen and (max-width: 800px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .carddiv{
    margin: 10px;
  }
  .header-img {
    max-width: 300px;
    max-height: 200px;
  }
  .heading {
    margin: 15px 0px !important;
    font-size: 1.5rem !important;
  }
  .heading::after {
    transform: translateY(10px) translateX(5px);
  }
  .heading::before {
    transform: translateY(10px) translateX(-55px);
  }
  #about {
    padding: 20px;
  }
  .reviews {
    flex-wrap: wrap;
  }
}
