.navButton {
  margin-left: auto;
  margin-right: 30px;
}
.carContainer {
  max-width: 750px;
  margin-inline: auto;
  max-height: 450px;
}
.carImage {
  max-width: 750px;
  max-height: 450px;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0px !important;
  background: #121fcf;
  background: -webkit-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: -moz-linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading::after {
  content: "";
  width: 50px;
  height: 7px;
  background: red;
  position: absolute;
  transform: translateY(20px) translateX(5px);
  border-radius: 30px;
}
.heading::before {
  content: "";
  width: 50px;
  height: 7px;
  background: rgb(0, 0, 255);
  position: absolute;
  transform: translateY(20px) translateX(-55px);
  border-radius: 30px;
}
.heading::before:first-child {
  width: 0px;
}
.carh2 {
  color: black;
  background-color: white;
}
.carp {
  color: black;
  background-color: white;
}
.table{
  border-radius: 10px !important;
  margin-top: 2%;
  margin-left: 10px;
  -webkit-box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.75) !important;
  box-shadow: 10px 10px 20px -5px rgba(0,0,0,0.75) !important;
}
@media only screen and (max-width: 800px) {
  .container {
    flex-wrap: wrap;
  }
  .heading {
    margin: 10px 0px !important;
    font-size: 1.5rem !important;
  }
  .heading::after {
    transform: translateY(10px) translateX(5px);
  }
  .heading::before {
    transform: translateY(10px) translateX(-55px);
  }
}
